.item-list {
  list-style: none;
}
.item-list .list-group-item {
  cursor: pointer;
  flex: 1 1;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.item-list:nth-last-child(1) {
  margin-bottom: 3em;
}

.drag-handle {
  cursor: row-resize;
}
